Delvewheel: Plugin issue while working on module scipy

Compilation of my project fails with
```
(base) PS \Documents\demo-programs\Server\Rev_008\demo_code> poetry run nuitka --standalone --onefile --enable-plugin=pyside6 test_controller.py
Nuitka-Options:INFO: Used command line options: --standalone --onefile --enable-plugin=pyside6 test_controller.py
Nuitka-Plugins:WARNING: pyside6: Make sure to use PySide 6.5.0 or higher, otherwise Qt slots won't work in all cases.
Nuitka:INFO: Starting Python compilation with Nuitka '1.5.7' on Python '3.9' commercial grade 'not installed'.
Nuitka-Plugins:INFO: pyside6: Injecting pre-module load code for module 'PySide6':
Nuitka-Plugins:INFO: pyside6:     Adding binary folder to runtime 'PATH' environment variable for proper Qt loading.
Nuitka-Plugins:INFO: implicit-imports: Injecting post-module load code for module 'PySide6.QtCore':
Nuitka-Plugins:INFO: implicit-imports:     According to Yaml configuration.
Nuitka-Plugins:INFO: pyside6: Injecting post-module load code for module 'PySide6.QtCore':
Nuitka-Plugins:INFO: pyside6:     Setting Qt library path to distribution folder. We need to avoid loading target
Nuitka-Plugins:INFO: pyside6:     system Qt plugins, which may be from another Qt version.
Nuitka-Plugins:INFO: multiprocessing: Injecting pre-module load code for module 'multiprocessing':
Nuitka-Plugins:INFO: multiprocessing:     Monkey patching "multiprocessing" load environment.
Nuitka-Plugins:INFO: multiprocessing: Injecting post-module load code for module 'multiprocessing':
Nuitka-Plugins:INFO: multiprocessing:     Monkey patching "multiprocessing" for compiled methods.
Nuitka-Plugins:INFO: delvewheel: Detected usage of 'delvewheel' version '1.3.1' in module 'scipy'.
PASS 1: 53.6%|█████████████▍           | 441/823, src.classifiers.classifier_templateTraceback (most recent call last):
  File "\AppData\Local\pypoetry\Cache\virtualenvs\demo_code-Syo9sMSP-py3.9\lib\site-packages\nuitka\plugins\Plugins.py", line 77, in withPluginProblemReporting
    yield
  File "\AppData\Local\pypoetry\Cache\virtualenvs\demo_code-Syo9sMSP-py3.9\lib\site-packages\nuitka\plugins\Plugins.py", line 919, in onModuleSourceCode
    new_source_code = plugin.onModuleSourceCode(module_name, source_code)
  File "\AppData\Local\pypoetry\Cache\virtualenvs\demo_code-Syo9sMSP-py3.9\lib\site-packages\nuitka\plugins\standard\DelvewheelPlugin.py", line 105, in onModuleSourceCode
    assert self.dll_directory is not None, module_name
AssertionError: scipy
FATAL: delvewheel: Plugin issue while working on 'module 'scipy''. Please report the bug with the above traceback included.
```


* Please check whether the bug was already reported or fixed.
Similar report here: https://github.com/Nuitka/Nuitka/issues/2112, but fix did not work for me
* Please check out if the develop version of Nuitka works better for you.

  No, even nuitka 1.6rc8 did not work and resulted in the same error message

* Nuitka version, full Python version, flavor, OS, etc. as output by *this*
  command.

  > python -m nuitka --version

  1.6rc8
  Commercial: None
  Python: 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]
  Flavor: Anaconda Python
  Executable: ~\AppData\Local\pypoetry\Cache\virtualenvs\synova-realtime-Syo9sMSP-py3.9\Scripts\python.exe
  OS: Windows
  Arch: x86_64
  WindowsRelease: 10
  Version C compiler: C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Tools\MSVC\14.34.31933\bin\Hostx64\x64\cl.exe (cl 14.3).
* How did you install Nuitka and Python

  I installed conda, then created a virtual environment from within a conda-environment using poetry 1.4.2 and executed nuitka using `poetry run nuitka`

* The specific PyPI names and versions
  pypoetry.toml:

  ```
  [tool.poetry]
  name = "demo_code"
  version = "1.7.1"
  description = ""
  authors = ["Roland Richter <roland.richter@empa.ch>"]
  
  [tool.poetry.dependencies]
  python = ">=3.9,<3.11"
  torch = "^1.12.0"
  PySide6 = "6.3.2"
  matplotlib = "3.6.0"
  PySimpleGUI = "^4.60.1"
  pandas = "^1.4.3"
  scipy = "^1.8.1"
  py2neo = "^2021.2.3"
  pandarallel = "^1.6.1"
  xgboost = "^1.6.1"
  onnxmltools = "^1.11.1"
  onnxruntime = "^1.11.1"
  tqdm = "^4.64.0"
  h5py = "^3.7.0"
  pyarrow = "^9.0.0"
  GitPython = "^3.1.27"
  torchvision = "^0.13.1"
  torchaudio = "^0.12.1"
  traitlets = "^5.5.0"
  ipykernel = "^6.16.2"
  tikzplotlib = "^0.10.1"
  nptdms = "^1.6.1"
  protobuf = "3.20.3"
  llvmlite = "^0.39.1"
  tsfresh = "^0.20.0"
  cupy = {version = "^11.1.0", optional=true}
  psutil = "^5.9.4"
  dask = "^2023.3.2"
  scikit-learn = "^1.2.2"
  pywavelets = "^1.4.1"
  statistics = "^1.0.3.5"
  
  [[tool.poetry.source]]
  name = "torch"
  url = "https://download.pytorch.org/whl/cu116"
  default = false
  secondary = true
  
  [tool.poetry.extras]
  cupy = ["cupy"]
  
  [tool.poetry.dev-dependencies]
  pylint = "^2.14.4"
  importchecker = "^2.0"
  torcheck = "^1.0.1"
  torchvision = "^0.13.0"
  tensorboard = "^2.9.1"
  pyoxidizer = "^0.22.0"
  pyflakes = "^2.4.0"
  orderedset = "^2.0.3"
  
  [tool.poetry.group.dev.dependencies]
  jupyter = "^1.0.0"
  jupyterlab = "^3.5.2"
  nodejs = "^0.1.1"
  seaborn = "^0.12.2"
  pytest = "^7.2.1"
  mypy = "^1.1.1"
  nuitka = {url = "https://github.com/Nuitka/Nuitka/archive/factory.zip"}
  pylint = "^2.17.3"
  snakeviz = "^2.2.0"
  black = "^23.3.0"
  shap = "^0.41.0"
  
  [build-system]
  requires = ["poetry-core>=1.0.0"]
  build-backend = "poetry.core.masonry.api"
  ```
poetry show:

```
absl-py                  1.4.0                                                       Abseil Python Common Libraries, see https://github.com/abseil/abseil-py.
aiofiles                 22.1.0                                                      File support for asyncio.
aiosqlite                0.19.0                                                      asyncio bridge to the standard sqlite3 module
anyio                    3.6.2                                                       High level compatibility layer for multiple asynchronous event loop implementations
argon2-cffi              21.3.0                                                      The secure Argon2 password hashing algorithm.
argon2-cffi-bindings     21.2.0                                                      Low-level CFFI bindings for Argon2
arrow                    1.2.3                                                       Better dates & times for Python
astroid                  2.15.4                                                      An abstract syntax tree for Python with inference support.
asttokens                2.2.1                                                       Annotate AST trees with source code positions
attrs                    23.1.0                                                      Classes Without Boilerplate
babel                    2.12.1                                                      Internationalization utilities
backcall                 0.2.0                                                       Specifications for callback functions passed in to an API
beautifulsoup4           4.12.2                                                      Screen-scraping library
black                    23.3.0                                                      The uncompromising code formatter.
bleach                   6.0.0                                                       An easy safelist-based HTML-sanitizing tool.
cachetools               5.3.0                                                       Extensible memoizing collections and decorators
certifi                  2022.12.7                                                   Python package for providing Mozilla's CA Bundle.
cffi                     1.15.1                                                      Foreign Function Interface for Python calling C code.
charset-normalizer       3.1.0                                                       The Real First Universal Charset Detector. Open, modern and actively maintained alternative to Chardet.
click                    8.1.3                                                       Composable command line interface toolkit
cloudpickle              2.2.1                                                       Extended pickling support for Python objects
colorama                 0.4.6                                                       Cross-platform colored terminal text.
coloredlogs              15.0.1                                                      Colored terminal output for Python's logging module
comm                     0.1.3                                                       Jupyter Python Comm implementation, for usage in ipykernel, xeus-python etc.
contourpy                1.0.7                                                       Python library for calculating contours of 2D quadrilateral grids
cupy                     11.6.0                                                      CuPy: NumPy & SciPy for GPU
cycler                   0.11.0                                                      Composable style cycles
dask                     2023.4.0                                                    Parallel PyData with Task Scheduling
debugpy                  1.6.7                                                       An implementation of the Debug Adapter Protocol for Python
decorator                5.1.1                                                       Decorators for Humans
defusedxml               0.7.1                                                       XML bomb protection for Python stdlib modules
dill                     0.3.6                                                       serialize all of python
distributed              2023.4.0                                                    Distributed scheduler for Dask
docutils                 0.19                                                        Docutils -- Python Documentation Utilities
exceptiongroup           1.1.1                                                       Backport of PEP 654 (exception groups)
executing                1.2.0                                                       Get the currently executing AST node of a frame, and other information
fastjsonschema           2.16.3                                                      Fastest Python implementation of JSON schema
fastrlock                0.8.1                                                       Fast, re-entrant optimistic lock implemented in Cython
flatbuffers              23.3.3                                                      The FlatBuffers serialization format for Python
fonttools                4.39.3                                                      Tools to manipulate font files
fqdn                     1.5.1                                                       Validates fully-qualified domain names against RFC 1123, so that they are acceptable to modern bowsers
fsspec                   2023.4.0                                                    File-system specification
gitdb                    4.0.10                                                      Git Object Database
gitpython                3.1.31                                                      GitPython is a Python library used to interact with Git repositories
google-auth              2.17.3                                                      Google Authentication Library
google-auth-oauthlib     1.0.0                                                       Google Authentication Library
grpcio                   1.54.0                                                      HTTP/2-based RPC framework
h5py                     3.8.0                                                       Read and write HDF5 files from Python
humanfriendly            10.0                                                        Human friendly output for text interfaces using Python
idna                     3.4                                                         Internationalized Domain Names in Applications (IDNA)
importchecker            2.0                                                         Importchecker finds unused imports in Python modules.
importlib-metadata       6.6.0                                                       Read metadata from Python packages
iniconfig                2.0.0                                                       brain-dead simple config-ini parsing
interchange              2021.0.4                                                    Data types and interchange formats
ipykernel                6.22.0                                                      IPython Kernel for Jupyter
ipython                  8.12.0                                                      IPython: Productive Interactive Computing
ipython-genutils         0.2.0                                                       Vestigial utilities from IPython
ipywidgets               8.0.6                                                       Jupyter interactive widgets
isoduration              20.11.0                                                     Operations with ISO 8601 durations
isort                    5.12.0                                                      A Python utility / library to sort Python imports.
jedi                     0.18.2                                                      An autocompletion tool for Python that can be used for text editors.
jinja2                   3.1.2                                                       A very fast and expressive template engine.
joblib                   1.2.0                                                       Lightweight pipelining with Python functions
json5                    0.9.11                                                      A Python implementation of the JSON5 data format.
jsonpointer              2.3                                                         Identify specific nodes in a JSON document (RFC 6901)
jsonschema               4.17.3                                                      An implementation of JSON Schema validation for Python
jupyter                  1.0.0                                                       Jupyter metapackage. Install all the Jupyter components in one go.
jupyter-client           8.2.0                                                       Jupyter protocol implementation and client libraries
jupyter-console          6.6.3                                                       Jupyter terminal console
jupyter-core             5.3.0                                                       Jupyter core package. A base package on which Jupyter projects rely.
jupyter-events           0.6.3                                                       Jupyter Event System library
jupyter-server           2.5.0                                                       The backend—i.e. core services, APIs, and REST endpoints—to Jupyter web applications.
jupyter-server-fileid    0.9.0
jupyter-server-terminals 0.4.4                                                       A Jupyter Server Extension Providing Terminals.
jupyter-server-ydoc      0.8.0                                                       A Jupyter Server Extension Providing Y Documents.
jupyter-ydoc             0.2.4                                                       Document structures for collaborative editing using Ypy
jupyterlab               3.6.3                                                       JupyterLab computational environment
jupyterlab-pygments      0.2.2                                                       Pygments theme using JupyterLab CSS variables
jupyterlab-server        2.22.1                                                      A set of server components for JupyterLab and JupyterLab like applications.
jupyterlab-widgets       3.0.7                                                       Jupyter interactive widgets for JupyterLab
kiwisolver               1.4.4                                                       A fast implementation of the Cassowary constraint solver
lazy-object-proxy        1.9.0                                                       A fast and thorough lazy object proxy.
llvmlite                 0.39.1                                                      lightweight wrapper around basic LLVM functionality
locket                   1.0.0                                                       File-based locks for Python on Linux and Windows
markdown                 3.4.3                                                       Python implementation of John Gruber's Markdown.
markupsafe               2.1.2                                                       Safely add untrusted strings to HTML/XML markup.
matplotlib               3.6.0                                                       Python plotting package
matplotlib-inline        0.1.6                                                       Inline Matplotlib backend for Jupyter
mccabe                   0.7.0                                                       McCabe checker, plugin for flake8
mistune                  2.0.5                                                       A sane Markdown parser with useful plugins and renderers
monotonic                1.6                                                         An implementation of time.monotonic() for Python 2 & < 3.3
mpmath                   1.3.0                                                       Python library for arbitrary-precision floating-point arithmetic
msgpack                  1.0.5                                                       MessagePack serializer
mypy                     1.2.0                                                       Optional static typing for Python
mypy-extensions          1.0.0                                                       Type system extensions for programs checked with the mypy type checker.
nbclassic                0.5.5                                                       Jupyter Notebook as a Jupyter Server extension.
nbclient                 0.7.4                                                       A client library for executing notebooks. Formerly nbconvert's ExecutePreprocessor.
nbconvert                7.3.1                                                       Converting Jupyter Notebooks
nbformat                 5.8.0                                                       The Jupyter Notebook format
nest-asyncio             1.5.6                                                       Patch asyncio to allow nested event loops
nodejs                   0.1.1                                                       Python bindings and utils for Node.js and io.js
notebook                 6.5.4                                                       A web-based notebook environment for interactive computing
notebook-shim            0.2.3                                                       A shim layer for notebook traits and config
nptdms                   1.6.2                                                       Cross-platform, NumPy based module for reading TDMS files produced by LabView
Nuitka                   1.6rc8 https://github.com/Nuitka/Nuitka/archive/factory.zip Python compiler with full language support and CPython compatibility
numba                    0.56.4                                                      compiling Python code using LLVM
numpy                    1.23.5                                                      NumPy is the fundamental package for array computing with Python.
oauthlib                 3.2.2                                                       A generic, spec-compliant, thorough implementation of the OAuth request-signing logic
onnx                     1.13.1                                                      Open Neural Network Exchange
onnxconverter-common     1.13.0                                                      ONNX Converter and Optimization Tools
onnxmltools              1.11.2                                                      Converts Machine Learning models to ONNX
onnxruntime              1.14.1                                                      ONNX Runtime is a runtime accelerator for Machine Learning models
optional-django          0.1.0                                                       Utils for apps to provide optional support for django applications
ordered-set              4.1.0                                                       An OrderedSet is a custom MutableSet that remembers its order, so that every
orderedset               2.0.3                                                       An Ordered Set implementation in Cython.
packaging                23.1                                                        Core utilities for Python packages
pandarallel              1.6.4                                                       An easy to use library to speed up computation (by parallelizing on multi CPUs) with pandas.
pandas                   1.5.3                                                       Powerful data structures for data analysis, time series, and statistics
pandocfilters            1.5.0                                                       Utilities for writing pandoc filters in python
pansi                    2020.7.3                                                    ANSI escape code library for Python
parso                    0.8.3                                                       A Python Parser
partd                    1.4.0                                                       Appendable key-value storage
pathspec                 0.11.1                                                      Utility library for gitignore style pattern matching of file paths.
patsy                    0.5.3                                                       A Python package for describing statistical models and for building design matrices.
pickleshare              0.7.5                                                       Tiny 'shelve'-like database with concurrency support
pillow                   9.5.0                                                       Python Imaging Library (Fork)
platformdirs             3.3.0                                                       A small Python package for determining appropriate platform-specific dirs, e.g. a "user data dir".
pluggy                   1.0.0                                                       plugin and hook calling mechanisms for python
prometheus-client        0.16.0                                                      Python client for the Prometheus monitoring system.
prompt-toolkit           3.0.38                                                      Library for building powerful interactive command lines in Python
protobuf                 3.20.3                                                      Protocol Buffers
psutil                   5.9.5                                                       Cross-platform lib for process and system monitoring in Python.
pure-eval                0.2.2                                                       Safely evaluate AST nodes without side effects
py2neo                   2021.2.3                                                    Python client library and toolkit for Neo4j
pyarrow                  9.0.0                                                       Python library for Apache Arrow
pyasn1                   0.5.0                                                       Pure-Python implementation of ASN.1 types and DER/BER/CER codecs (X.208)
pyasn1-modules           0.3.0                                                       A collection of ASN.1-based protocols modules
pycparser                2.21                                                        C parser in Python
pyflakes                 2.5.0                                                       passive checker of Python programs
pygments                 2.15.1                                                      Pygments is a syntax highlighting package written in Python.
pylint                   2.17.3                                                      python code static checker
pyoxidizer               0.22.0                                                      Package self-contained Python applications
pyparsing                3.0.9                                                       pyparsing module - Classes and methods to define and execute parsing grammars
pyreadline3              3.4.1                                                       A python implementation of GNU readline.
pyrsistent               0.19.3                                                      Persistent/Functional/Immutable data structures
pyside6                  6.3.2                                                       Python bindings for the Qt cross-platform application and UI framework
pyside6-addons           6.3.2                                                       Python bindings for the Qt cross-platform application and UI framework (Addons)
pyside6-essentials       6.3.2                                                       Python bindings for the Qt cross-platform application and UI framework (Essentials)
pysimplegui              4.60.4                                                      Python GUIs for Humans. Launched in 2018. It's 2022 & PySimpleGUI is an ACTIVE & supported project. Super-simple to create custom GUI's. 325+ Demo programs & Cookbook for rapid start. Extensive documentation. Main docs at ...
pytest                   7.3.1                                                       pytest: simple powerful testing with Python
python-dateutil          2.8.2                                                       Extensions to the standard Python datetime module
python-json-logger       2.0.7                                                       A python library adding a json log formatter
pytz                     2023.3                                                      World timezone definitions, modern and historical
pywavelets               1.4.1                                                       PyWavelets, wavelet transform module
pywin32                  306                                                         Python for Window Extensions
pywinpty                 2.0.10                                                      Pseudo terminal support for Windows from Python.
pyyaml                   6.0                                                         YAML parser and emitter for Python
pyzmq                    25.0.2                                                      Python bindings for 0MQ
qtconsole                5.4.2                                                       Jupyter Qt console
qtpy                     2.3.1                                                       Provides an abstraction layer on top of the various Qt bindings (PyQt5/6 and PySide2/6).
requests                 2.28.2                                                      Python HTTP for Humans.
requests-oauthlib        1.3.1                                                       OAuthlib authentication support for Requests.
rfc3339-validator        0.1.4                                                       A pure python RFC3339 validator
rfc3986-validator        0.1.1                                                       Pure python rfc3986 validator
rsa                      4.9                                                         Pure-Python RSA implementation
scikit-learn             1.2.2                                                       A set of python modules for machine learning and data mining
scipy                    1.10.1                                                      Fundamental algorithms for scientific computing in Python
seaborn                  0.12.2                                                      Statistical data visualization
send2trash               1.8.0                                                       Send file to trash natively under Mac OS X, Windows and Linux.
setuptools               67.7.2                                                      Easily download, build, install, upgrade, and uninstall Python packages
shap                     0.41.0                                                      A unified approach to explain the output of any machine learning model.
shiboken6                6.3.2                                                       Python/C++ bindings helper module
six                      1.16.0                                                      Python 2 and 3 compatibility utilities
skl2onnx                 1.14.0                                                      Convert scikit-learn models to ONNX
slicer                   0.0.7                                                       A small package for big slicing.
smmap                    5.0.0                                                       A pure Python implementation of a sliding window memory map manager
snakeviz                 2.2.0                                                       A web-based viewer for Python profiler output
sniffio                  1.3.0                                                       Sniff out which async library your code is running under
sortedcontainers         2.4.0                                                       Sorted Containers -- Sorted List, Sorted Dict, Sorted Set
soupsieve                2.4.1                                                       A modern CSS selector implementation for Beautiful Soup.
stack-data               0.6.2                                                       Extract data from python stack frames and tracebacks for informative displays
statistics               1.0.3.5                                                     A Python 2.* port of 3.4 Statistics Module
statsmodels              0.13.5                                                      Statistical computations and models for Python
stumpy                   1.11.1                                                      A powerful and scalable library that can be used for a variety of time series data mining tasks
sympy                    1.11.1                                                      Computer algebra system (CAS) in Python
tblib                    1.7.0                                                       Traceback serialization library.
tensorboard              2.12.2                                                      TensorBoard lets you watch Tensors Flow
tensorboard-data-server  0.7.0                                                       Fast data loading for TensorBoard
tensorboard-plugin-wit   1.8.1                                                       What-If Tool TensorBoard plugin.
terminado                0.17.1                                                      Tornado websocket backend for the Xterm.js Javascript terminal emulator library.
threadpoolctl            3.1.0                                                       threadpoolctl
tikzplotlib              0.10.1                                                      Convert matplotlib figures into TikZ/PGFPlots
tinycss2                 1.2.1                                                       A tiny CSS parser
tomli                    2.0.1                                                       A lil' TOML parser
tomlkit                  0.11.7                                                      Style preserving TOML library
toolz                    0.12.0                                                      List processing tools and functional utilities
torch                    1.12.1+cu116                                                Tensors and Dynamic neural networks in Python with strong GPU acceleration
torchaudio               0.12.1+cu116                                                An audio package for PyTorch
torcheck                 1.0.1                                                       A machine learning sanity check toolkit for PyTorch
torchvision              0.13.1+cu116                                                image and video datasets and models for torch deep learning
tornado                  6.3.1                                                       Tornado is a Python web framework and asynchronous networking library, originally developed at FriendFeed.
tqdm                     4.65.0                                                      Fast, Extensible Progress Meter
traitlets                5.9.0                                                       Traitlets Python configuration system
tsfresh                  0.20.0                                                      tsfresh extracts relevant characteristics from time series
typing-extensions        4.5.0                                                       Backported and Experimental Type Hints for Python 3.7+
uri-template             1.2.0                                                       RFC 6570 URI Template Processor
urllib3                  1.26.15                                                     HTTP library with thread-safe connection pooling, file post, and more.
wcwidth                  0.2.6                                                       Measures the displayed width of unicode strings in a terminal
webcolors                1.13                                                        A library for working with the color formats defined by HTML and CSS.
webencodings             0.5.1                                                       Character encoding aliases for legacy web content
websocket-client         1.5.1                                                       WebSocket client for Python with low level API options
werkzeug                 2.3.0                                                       The comprehensive WSGI web application library.
wheel                    0.40.0                                                      A built-package format for Python
widgetsnbextension       4.0.7                                                       Jupyter interactive widgets for Jupyter Notebook
wrapt                    1.15.0                                                      Module for decorators, wrappers and monkey patching.
xgboost                  1.7.5                                                       XGBoost Python Package
y-py                     0.5.9                                                       Python bindings for the Y-CRDT built from yrs (Rust)
ypy-websocket            0.8.2                                                       WebSocket connector for Ypy
zict                     3.0.0                                                       Mutable mapping tools
zipp                     3.15.0                                                      Backport of pathlib-compatible object wrapper for zip files
zstandard                0.21.0                                                      Zstandard bindings for Python
```


* Provide in your issue the Nuitka options used

  `poetry run nuitka --standalone --enable-plugin=pyside6 --report=compilation-report.xml`

* Note if this is a regression

  Not sure if it worked before

Is there anything I can do to approach that issue, or to add more information?
Thank you!

That's great report, but it's lacking source code. I feel however, that "import scipy" would have to be enough. It seems poetry likes to do non-standard installation of packages, because this works in other environments. It being used with Anaconda might have to do something or not.

Can you try and run this standard CPython 3.10 please, so we can know it's Anaconda. I would be very confused, but I am also pretty sure, I should know of poetry was at fault, on the other hand, no conda package content should be used there.

You mean that I should try to run it in a standard Python-environment using python 3.10 (not 3.9, as in my example), while using poetry for creating the environment? Or do you mean something else?
I assume for initial testing I can re-use pyproject.toml, and just create a small example code file.
Thanks!

Yes, just to exclude that Anaconda influences this. It does change a bunch of things.

ah, and 3.10 vs. 3.9 should not matter, I would like you to use CPython3.9 just in case that makes a difference. If you want, please try both, but I don't believe that is the reason.

I re-tested it without anaconda, but on a Unix-machine (Ubuntu 22.04), using Python 3.10 (as I did not have the exact same environment available. Build failed again, with the log attached. Or should that be a separate issue?
Thanks!
[nuitka_log.log](https://github.com/Nuitka/Nuitka/files/11486870/nuitka_log.log)


Yes, another issue, but still interesting, going to fix that quickly.

@anates please retry using this factory branch, which is a development version under rapid development. You can try it out by going here: https://nuitka.net/doc/factory.html then it should go further


I tried, and received the following error log again: 
[nuitka_log_2305.log](https://github.com/Nuitka/Nuitka/files/11543109/nuitka_log_2305.log)


Yes, that's an incomplete solution of a problem with `onnxmltools.utils.utils_backend_onnxruntime` that causes expected optimization to not happen. It seems that is harder than I thought, or at least requires attribute optimization code to be more forgiving. In that code an unbound local variable is accessed and will raise an exception, because it preserves the side effects of preceding expressions, and these then cannot be converted to a call, and then it cannot be converted to a proper `str.format` call which `"".format()` style code becomes.

I need to think more on how to solve that, but it's actually a different issue. This comes from changing the requirements of yours likely. You will need to wait until that issue is solved.

Ok, that was easy, they just need to forward that they are also raising an exception, and then they bubble up through the call nodes, never preventing their optimization to begin with, avoiding the issue. So please retry, this is now supposed to be gone for real.

Compilation works now, thanks! However, executing the compiled bin-file results in a crash, with the attached log. The error message looks quite similar to https://github.com/Nuitka/Nuitka/issues/1925, but as there is no resolve, I don't know either how to continue here. If it is a bug within nuitka, should I open a new issue for that?
Thanks!
[crash_log.log](https://github.com/Nuitka/Nuitka/files/11597234/crash_log.log)


@anates that is probably a different issue, and should be reported separately. However, we now know that your original report is in fact Anaconda specific. In some way at least. The poetry seems to install scipy for you, maybe it treats Anaconda differently too.

From past experience with Nuitka itself, it doesn't install wheels like pip does, may making it mistreats the whole thing. Once I find the time, I will try and look into that, but probably not right now, but hopefully before 1.7, in the mean time, I would be super grateful, if you tried Anaconda and virtualenv rather than poetry. I think the later can create the requirements file. It should still crash. Please use the 1.6 release or factory as you see fit, both will be good.


Hei,
I will do that, thanks! You mean to just replace `poetry` with `venv`, and to restart the entire compilation process again? If it then crashes during compilation, I can upload the corresponding crash file.

I am not talking about the issue you meantioned, but the original one. We switched to using CPython and poetry, to find out, if Anaconda has a role. Now I want you to use Anaconda, but with virtualenv, and see how that works. Then I will know, if poetry plays a part in it. From there, I can look most efficiently at only the minimal failing config if you get that.

For the other issue, open a separate report, but maybe wait until we got this first one sorted out.

As part of #2260 this was most likely resolved. I am closing it as a duplicate.

I re-tested it without poetry, but with venv instead, and compilation works on both Windows and Linux. Execution fails, but that's for another bug report.

@anates yes, create that separately then